* {
  padding: 0;
  margin: 0;
}
a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
}
.main-nav {
  background: aliceblue;
}
.main-nav ol {
  margin-bottom: 1rem;
  padding: 0.7rem;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.main-content {
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  margin: 0 0.4rem;
  padding: 0.2rem;
}
footer {
  width: 90%;
  margin: auto;
  text-align: center;
  font-weight: bolder;
  font-size: large;
}
